<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Styled Form</title>
    <style>
    .test{
     
        font-family: fangsong;
    }
    </style>
</head>
<body>
    

<div class="relative shadow bg-white">
    <div></div>

    <div class="w-full  p-3 bg-[#023859] ">
        <div class="relative z-1 h-16 mx-auto px-5 max-w-7xl flex items-center justify-between text-white  text-xl  ">
            <a class="text-2xl hover:text-cyan-400 transition-colors" href="" >
                      
                        <svg class="w-20" xmlns="http://www.w3.org/2000/svg" height="3em" viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ecd5a6}</style><path d="M522.1 62.4c16.8-5.6 25.8-23.7 20.2-40.5S518.6-3.9 501.9 1.6l-113 37.7C375 15.8 349.3 0 320 0c-44.2 0-80 35.8-80 80c0 3 .2 5.9 .5 8.8L117.9 129.6c-16.8 5.6-25.8 23.7-20.2 40.5s23.7 25.8 40.5 20.2l135.5-45.2c4.5 3.2 9.3 5.9 14.4 8.2V480c0 17.7 14.3 32 32 32H512c17.7 0 32-14.3 32-32s-14.3-32-32-32H352V153.3c21-9.2 37.2-27 44.2-49l125.9-42zM439.6 288L512 163.8 584.4 288H439.6zM512 384c62.9 0 115.2-34 126-78.9c2.6-11-1-22.3-6.7-32.1L536.1 109.8c-5-8.6-14.2-13.8-24.1-13.8s-19.1 5.3-24.1 13.8L392.7 273.1c-5.7 9.8-9.3 21.1-6.7 32.1C396.8 350 449.1 384 512 384zM129.2 291.8L201.6 416H56.7l72.4-124.2zM3.2 433.1C14 478 66.3 512 129.2 512s115.2-34 126-78.9c2.6-11-1-22.3-6.7-32.1L153.2 237.8c-5-8.6-14.2-13.8-24.1-13.8s-19.1 5.3-24.1 13.8L9.9 401.1c-5.7 9.8-9.3 21.1-6.7 32.1z"/></svg>

                        

            </a>

            <ul class="flex items-center  justify-center gap-5">
                <li><a class="hover:text-cyan-400 transition-colors" href="">Le Cabinet</a></li>
                <li><a class="hover:text-cyan-400 transition-colors" href="">Expertises & Services</a></li>
                <li><a class="hover:text-cyan-400 transition-colors" href="">Bibliothèque</a></li>
                <li><a class="hover:text-cyan-400 transition-colors" href="">Notes Juridiques</a></li>
                <li><a class="hover:text-cyan-400 transition-colors" href="">Contact</a></li>
            </ul>
        </div>
    </div>
</div>








<div class=" flex items-center justify-center w-full mb-12 ">


  <div class=" w-1/2   shadow-lg " >
    <img src="https://www.lapaixavocat.fr/public/img/big/AdobeStock177631799jpg_5ebd55a4b6573.jpg"/>

  </div>
    
    <div class=" p-6 flex flex-col gap-16  rounded-lg  w-1/2 h-full">

      <div class="flex flex-col justify-center items-center ">
            <h1 class="text-2xl font-semibold text-center  mt-8 mb-6 text-[#023859]">Cabinet d'Avocat de Maître Mohammed Chekkouri à Rabat</h1>
            <span class="inline-block  text-[#EDD6A7]"> LE CABINET AVOCAT RABAT DE CONFIANCE POUR TOUS VOS BESOINS</span>
      
      
      </div>


      <div class=" test w-full text-center font-roboto text-xl leading-10  text-slate-400 ">
       
       Situé stratégiquement au cœur de Rabat, le Cabinet d'Avocat de Maître Mohammed Chekkouri est votre référence en matière de conseil et de représentation juridique.

       Fort de son expertise reconnue, notre cabinet avocat à Rabat se dédie à offrir des services juridiques de premier plan, combinant professionnalisme, passion et une profonde connaissance du droit marocain.
        
      </div>
    </div>

    
</div>










<div class=" flex items-center justify-center w-full mb-12 ">



    
    <div class=" p-6 flex flex-col gap-16  rounded-lg  w-1/2 h-full">

      <div class="flex flex-col justify-center items-center ">
            <h1 class="text-2xl font-semibold text-center  mt-8 mb-6 text-[#023859]">Cabinet d'Avocat de Maître Mohammed Chekkouri à Rabat</h1>
            <span class="inline-block  text-[#EDD6A7]"> Expertise et professionnalisme du cabinet avocat Rabat</span>
      
      
      </div>


      <div class=" test w-full text-center font-roboto text-xl leading-10  text-slate-400 ">
        Lorsqu'il s'agit de représenter et de conseiller juridiquement, l'expertise et le professionnalisme sont primordiaux.

        À Rabat, le cabinet avocat dirigé par Maître Mohammed Chekkouri incarne ces deux qualités. Avec une riche expérience acquise au fil des années, ce cabinet avocat Rabat se distingue par sa maîtrise approfondie du droit marocain.

        Chaque client est assuré d'une approche personnalisée, ancrée dans une rigueur juridique et une éthique professionnelle sans faille.

        Choisir ce cabinet avocat à Rabat, c'est opter pour une expertise avérée et un professionnalisme incontestable, garantissant une représentation et des conseils de premier ordre. 
      </div>
    </div>

      <div class=" w-1/2   shadow-lg " >
    <img src="https://img.freepik.com/free-photo/closeup-shot-person-writing-book-with-gavel-table_181624-57173.jpg?w=1380&t=st=1700470090~exp=1700470690~hmac=6739595075b9d29452c3e8633ffdea21d4dffca18c4cd33792000b28d6516395"/>

  </div>
    
</div>







<div class=" flex items-center justify-center w-full mb-12 ">


  <div class=" w-1/2   shadow-lg " >
    <img src="https://img.freepik.com/free-photo/businessmen-shaking-hands-successful-corporate-agreement-generated-by-ai_188544-26937.jpg?t=st=1700470220~exp=1700473820~hmac=d4f8e7e522cce2be55814f8b7a082e2a034c96f727af025698b30a89776ca33f&w=1380"/>

  </div>
    
    <div class=" p-6 flex flex-col gap-16  rounded-lg  w-1/2 h-full">

      <div class="flex flex-col justify-center items-center ">
            <h1 class="text-2xl font-semibold text-center  mt-8 mb-6 text-[#023859]">Cabinet d'Avocat de Maître Mohammed chekkouri à Rabat</h1>
            <span class="inline-block  text-[#EDD6A7]"> Services juridiques proposés par Maître Mohammed Chekkouri</span>
      
      
      </div>


      <div class=" test w-full text-center font-roboto text-xl leading-10  text-slate-400 ">
       
        Maître Mohammed Chekkouri, éminente avocate basée à Rabat, offre une gamme diversifiée de services juridiques pour répondre aux besoins complexes de ses clients.

        Son cabinet est reconnu pour son expertise en droit civil, commercial, pénal, et administratif. À chaque étape, Maître Laila met l'accent sur l'écoute, la rigueur et l'innovation.

        Que ce soit pour la médiation, la représentation en tribunal ou le conseil stratégique, chaque client bénéficie d'une solution sur mesure.

        En choisissant les services juridiques de Maître Mohammed Chekkouri à Rabat, vous investissez dans une expertise éprouvée et une approche centrée sur le client.
        
      </div>
    </div>

    
</div>





<div class=" flex items-center justify-center w-full mb-12 ">


 
    
    <div class=" p-6 flex flex-col gap-16  rounded-lg  w-1/2 h-full">

      <div class="flex flex-col justify-center items-center ">
            <h1 class="text-2xl font-semibold text-center  mt-8 mb-6 text-[#023859]">Cabinet d'Avocat de Maître Mohammed Chekkouri à Rabat</h1>
            <span class="inline-block  text-[#EDD6A7]">Mr. Mohammed Chekkouri</span>
      
      
      </div>


      <div class=" test w-full text-center font-roboto text-xl leading-10  text-slate-400 ">
       
        Mr.Mohammed Chekkouri   est doctorant en droit public et droit privé (Université Mohamed V de Rabat), titulair d’un diplôme d’études supérieures approfondies en gestion de politique publique
         (DESA Université Mohamed V de Rabat) et d’un Bachelor en Business Administration (Université internationale SCHILLER de Madrid). Egalement diplômé du CAPA depuis 2011, Mr.Mohammed Chekkouri   est parfaitement trilingue.

            Mr.Mohammed Chekkouri   connait bien les problématiques des grandes entreprises, aussi bien multinationales que grandes structures marocaines, et ce bien sur le plan social que sociétal. Mr.Mohammed Chekkouri   a pu acquérir une expérience juridique et professionnelle solide et polyvalente qu’elle met aujourd’hui au service de ses clients.
        
      </div>
    </div>
     <div class=" w-1/2   shadow-lg " >
    <img src="https://img.freepik.com/free-photo/businessman-with-pen-contract_1098-3667.jpg?w=1380&t=st=1700470442~exp=1700471042~hmac=0a26bf46990adb895b6561e3c76742d8d14d04062b6305c8d28049b1354f19a4"/>

  </div>

    
</div>







<div class=" flex items-center justify-center w-full mb-12 ">


  <div class=" w-1/2   shadow-lg " >
            <img src="https://img.freepik.com/free-photo/still-life-with-scales-justice_23-2149776023.jpg?w=1380&t=st=1700470295~exp=1700470895~hmac=720961ca32ce8a18ecb22ee3c653ec69139e2ad68f2283edda59a6a3457a85a8"/>

  </div>
    
    <div class=" p-6 flex flex-col gap-16  rounded-lg  w-1/2 h-full">

      <div class="flex flex-col justify-center items-center ">
            <h1 class="text-2xl font-semibold text-center  mt-8 mb-6 text-[#023859]">Notre philosophie</h1>
            <span class="inline-block  text-[#EDD6A7]"> Toujours placer le client au cœur de nos préoccupations.</span>
      
      
      </div>


      <div class=" test w-full text-center font-roboto text-xl leading-10  text-slate-400 ">
       
      En tant qu'Avocat d'Affaires à Rabat, nous mettons un point d'honneur à instaurer une relation de proximité avec nos clients, favorisant un échange direct et continu. Chaque dossier est traité avec réactivité et fait l'objet d'une analyse minutieuse par un interlocuteur dédié.
        
      </div>
    </div>


    
</div>


<div>
      <div class="flex flex-col justify-center items-center ">
            <h1 class="text-2xl font-bold text-center  mt-8 mb-6 text-[#023859]">Ils nous font confiance</h1>
           
          <div class=" flex justify-center items-center gap-10 p-20" >
            <img class="w-2/4 h-40" src="https://media.licdn.com/dms/image/C4D0BAQF0udhruxX_Yg/company-logo_200_200/0/1621262816338/salam_gaz_s_a__logo?e=2147483647&v=beta&t=2XhIFB-5QEFDCZRZHkAGQlbBCU4lPZqa7ja-4ZL1i0Y"/>
            <img class="w-2/4 h-40" src="https://yt3.googleusercontent.com/eGmxGxOPjKUE4J5cvpT7DChZ32xByXPUm275q4VVq8_F5iYFDNcYBecFhteHI3gAM8p1AoE9Tw=s900-c-k-c0x00ffffff-no-rj"/>
            <img class="w-2/4 h-40" src="https://media.licdn.com/dms/image/C4E0BAQHsoe2ITRXlMQ/company-logo_200_200/0/1663592055034?e=2147483647&v=beta&t=aXWsaG2gLBqZcL3tsspk5PNSomX1-CDgk4ZbQFIquhs"/>
            <img class="w-2/4 h-40" src="https://is1-ssl.mzstatic.com/image/thumb/Purple116/v4/ae/97/2f/ae972f7c-12a2-a70a-7f1c-e63ccc3025a3/AppIcon-1x_U007emarketing-0-7-0-85-220.png/1200x600wa.png"/>
            

          </div>
      
      </div>
</div>

<div class="flex items-end  bg-white">

    <footer class="w-full text-gray-700 bg-gray-100 body-font">
        <div
            class="container flex flex-col flex-wrap px-5 py-24 mx-auto md:items-center lg:items-start md:flex-row md:flex-no-wrap">
            <div class="flex-shrink-0 w-64 mx-auto text-center md:mx-0 md:text-left">
                        <svg class="w-20" xmlns="http://www.w3.org/2000/svg" height="3em" viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ecd5a6}</style><path d="M522.1 62.4c16.8-5.6 25.8-23.7 20.2-40.5S518.6-3.9 501.9 1.6l-113 37.7C375 15.8 349.3 0 320 0c-44.2 0-80 35.8-80 80c0 3 .2 5.9 .5 8.8L117.9 129.6c-16.8 5.6-25.8 23.7-20.2 40.5s23.7 25.8 40.5 20.2l135.5-45.2c4.5 3.2 9.3 5.9 14.4 8.2V480c0 17.7 14.3 32 32 32H512c17.7 0 32-14.3 32-32s-14.3-32-32-32H352V153.3c21-9.2 37.2-27 44.2-49l125.9-42zM439.6 288L512 163.8 584.4 288H439.6zM512 384c62.9 0 115.2-34 126-78.9c2.6-11-1-22.3-6.7-32.1L536.1 109.8c-5-8.6-14.2-13.8-24.1-13.8s-19.1 5.3-24.1 13.8L392.7 273.1c-5.7 9.8-9.3 21.1-6.7 32.1C396.8 350 449.1 384 512 384zM129.2 291.8L201.6 416H56.7l72.4-124.2zM3.2 433.1C14 478 66.3 512 129.2 512s115.2-34 126-78.9c2.6-11-1-22.3-6.7-32.1L153.2 237.8c-5-8.6-14.2-13.8-24.1-13.8s-19.1 5.3-24.1 13.8L9.9 401.1c-5.7 9.8-9.3 21.1-6.7 32.1z"/></svg>
               
                <p class="mt-2 text-sm text-gray-500">Mohammed chekkouri</p>
                <div class="mt-4">
                    <span class="inline-flex justify-center mt-2 sm:ml-auto sm:mt-0 sm:justify-start">
                        <a class="text-gray-500 cursor-pointer hover:text-gray-700">
                            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                class="w-5 h-5" viewBox="0 0 24 24">
                                <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                            </svg>
                        </a>
                        <a class="ml-3 text-gray-500 cursor-pointer hover:text-gray-700">
                            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                class="w-5 h-5" viewBox="0 0 24 24">
                                <path
                                    d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                                </path>
                            </svg>
                        </a>
                        <a class="ml-3 text-gray-500 cursor-pointer hover:text-gray-700">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                                <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                            </svg>
                        </a>
                        <a class="ml-3 text-gray-500 cursor-pointer hover:text-gray-700">
                            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                                <path stroke="none"
                                    d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                                </path>
                                <circle cx="4" cy="4" r="2" stroke="none"></circle>
                            </svg>
                        </a>
                    </span>
                </div>
            </div>
            <div class="flex  mt-10 -mb-10 text-center md:pl-20 md:mt-0 md:text-left">
                <div class="w-full px-4 lg:w-1/4 md:w-1/2">
                    <h2 class="mb-3 text-sm font-medium tracking-widest text-gray-900 uppercase title-font">About</h2>
                    <nav class="mb-10 list-none">
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">Company</a>
                        </li>
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">Careers</a>
                        </li>
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">Blog</a>
                        </li>
                    </nav>
                </div>
                <div class="w-full px-4 lg:w-1/4 md:w-1/2">
                    <h2 class="mb-3 text-sm font-medium tracking-widest text-gray-900 uppercase title-font">Support</h2>
                    <nav class="mb-10 list-none">
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">Contact Support</a>
                        </li>
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">Help Resources</a>
                        </li>
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">Release Updates</a>
                        </li>
                    </nav>
                </div>
                <div class="w-full px-4 lg:w-1/4 md:w-1/2">
                    <h2 class="mb-3 text-sm font-medium tracking-widest text-gray-900 uppercase title-font">Platform
                    </h2>
                    <nav class="mb-10 list-none">
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">Terms &amp; Privacy</a>
                        </li>
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">Pricing</a>
                        </li>
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">FAQ</a>
                        </li>
                    </nav>
                </div>
                <div class="w-full px-4 lg:w-1/4 md:w-1/2">
                    <h2 class="mb-3 text-sm font-medium tracking-widest text-gray-900 uppercase title-font">Contact</h2>
                    <nav class="mb-10 list-none">
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">Send a Message</a>
                        </li>
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">Request a Quote</a>
                        </li>
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">+123-456-7890</a>
                        </li>
                    </nav>
                </div>
            </div>
        </div>
        <div class="bg-gray-300">
            <div class="container px-5 py-4 mx-auto">
                <p class="text-sm text-gray-700 capitalize xl:text-center">© 2023 All rights reserved </p>
            </div>
        </div>
    </footer>

</div>
















<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
   
</script>
</body>
</html>
