<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Styled Form</title>
    <style>
    .test{
     
        font-family: fangsong;
    }
    </style>
</head>
<body>

<div class="relative shadow bg-white">
    <div></div>

    <div class="w-full  p-3 bg-[#023859] ">
        <div class="relative z-1 h-16 mx-auto px-5 max-w-7xl flex items-center justify-between text-white  text-xl  ">
            <a class="text-2xl hover:text-cyan-400 transition-colors" href="" >
                      
                        <svg class="w-20" xmlns="http://www.w3.org/2000/svg" height="3em" viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ecd5a6}</style><path d="M522.1 62.4c16.8-5.6 25.8-23.7 20.2-40.5S518.6-3.9 501.9 1.6l-113 37.7C375 15.8 349.3 0 320 0c-44.2 0-80 35.8-80 80c0 3 .2 5.9 .5 8.8L117.9 129.6c-16.8 5.6-25.8 23.7-20.2 40.5s23.7 25.8 40.5 20.2l135.5-45.2c4.5 3.2 9.3 5.9 14.4 8.2V480c0 17.7 14.3 32 32 32H512c17.7 0 32-14.3 32-32s-14.3-32-32-32H352V153.3c21-9.2 37.2-27 44.2-49l125.9-42zM439.6 288L512 163.8 584.4 288H439.6zM512 384c62.9 0 115.2-34 126-78.9c2.6-11-1-22.3-6.7-32.1L536.1 109.8c-5-8.6-14.2-13.8-24.1-13.8s-19.1 5.3-24.1 13.8L392.7 273.1c-5.7 9.8-9.3 21.1-6.7 32.1C396.8 350 449.1 384 512 384zM129.2 291.8L201.6 416H56.7l72.4-124.2zM3.2 433.1C14 478 66.3 512 129.2 512s115.2-34 126-78.9c2.6-11-1-22.3-6.7-32.1L153.2 237.8c-5-8.6-14.2-13.8-24.1-13.8s-19.1 5.3-24.1 13.8L9.9 401.1c-5.7 9.8-9.3 21.1-6.7 32.1z"/></svg>

                        

            </a>

            <ul class="flex items-center  justify-center gap-5">
                <li><a class="hover:text-cyan-400 transition-colors" href="">Le Cabinet</a></li>
                <li><a class="hover:text-cyan-400 transition-colors" href="">Expertises & Services</a></li>
                <li><a class="hover:text-cyan-400 transition-colors" href="">Bibliothèque</a></li>
                <li><a class="hover:text-cyan-400 transition-colors" href="">Notes Juridiques</a></li>
                <li><a class="hover:text-cyan-400 transition-colors" href="">Contact</a></li>
            </ul>
        </div>
    </div>
</div>



<div class="flex flex-col ">
    <h1 class=" text-5xl font-light text-center  mt-8 mb-6 text-[#EDD6A7]">Nos Expertises</h1>
<section class="grid grid-cols-3 sm:grid-cols-2 lg:grid-cols-3 gap-3  w-full  p-10" >

    <div class="flex flex-col gap-6 pl-10  ">

        <div class="flex justify-start flex-col  gap-4 ">
            <h1 class="text-2xl font-semibold   mt-8 mb-6 text-[#023859]">Droit international</h1>
            <span class="inline-block w-96 h-0.5 rounded-full bg-[#EDD6A7]"></span>
             <div class=" test w-full  font-roboto text-xl leading-10   text-[#023859] ">
                Statut personnel des étrangers, Droit commercial international et lex mercatoria.
             </div>
        </div>

        <div class="flex justify-start flex-col  gap-4">
            <h1 class="text-2xl font-semibold   mt-8 mb-6 text-[#023859]">Droit du travail et de la sécurité sociale</h1>
            <span class="inline-block w-96 h-0.5 rounded-full bg-[#EDD6A7]"></span>
             <div class=" test w-full  font-roboto text-xl leading-10  text-[#023859] ">
               Gestion des relations individuelles, Gestion des relations collectives, Gestion des conflits au travail.
             </div>
        </div>

        <div class="flex justify-start flex-col gap-4 ">
             <h1 class="text-2xl font-semibold   mt-8 mb-6 text-[#023859]">Droit immobilier et droit foncier</h1>
            <span class="inline-block w-96 h-0.5 rounded-full bg-[#EDD6A7]"></span>
             <div class=" test w-full  font-roboto text-xl leading-10  text-[#023859] ">
               Litiges relatifs aux immeubles, droits réels, copropriété, location immobilière, transactions immobilières, régime relatif aux biens immobiliers, troubles de voisinage..
             </div>
        </div>


    </div>


    <div class="flex flex-col gap-6 pl-10  ">

        <div class="flex justify-start flex-col  gap-4 ">
            <h1 class="text-2xl font-semibold   mt-8 mb-6 text-[#023859]">Droit des sociétés et droit pénal des affaires</h1>
            <span class="inline-block w-96 h-0.5 rounded-full bg-[#EDD6A7]"></span>
             <div class=" test w-full  font-roboto text-xl leading-10   text-[#023859] ">
               Structure juridique adaptée, Actes sociaux et contrats à caractère commercial, Acquisition ou cession d’entreprise, Contentieux des entreprises, Infraction sociale, etc..
             </div>
        </div>

        <div class="flex justify-start flex-col  gap-4">
            <h1 class="text-2xl font-semibold   mt-8 mb-6 text-[#023859]">Droit de la famille</h1>
            <span class="inline-block w-96 h-0.5 rounded-full bg-[#EDD6A7]"></span>
             <div class=" test w-full  font-roboto text-xl leading-10  text-[#023859] ">
               Mariage, Filiation, Droit au nom, changement de nom et de prénom, Gestion des biens acquis pendant le mariage, Divorce, Héritage, Droit de la nationalité, Etat civil, Adoption des enfants abandonnés (Kafala).
             </div>
        </div>

        <div class="flex justify-start flex-col gap-4 ">
             <h1 class="text-2xl font-semibold   mt-8 mb-6 text-[#023859]">NTIC</h1>
            <span class="inline-block w-96 h-0.5 rounded-full bg-[#EDD6A7]"></span>
             <div class=" test w-full  font-roboto text-xl leading-10  text-[#023859] ">
              Contrats informatiques, CGU, CGV, mentions légales, commerce électronique, sécurité informatique.
             </div>
        </div>


    </div>



    <div class="flex flex-col gap-6 pl-10  ">

        <div class="flex justify-start flex-col  gap-4 ">
            <h1 class="text-2xl font-semibold   mt-8 mb-6 text-[#023859]">Droit commercial</h1>
            <span class="inline-block w-96 h-0.5 rounded-full bg-[#EDD6A7]"></span>
             <div class=" test w-full  font-roboto text-xl leading-10   text-[#023859] ">
               Rédaction et négociation des différents, contrats commerciaux, Baux commerciaux, Fonds de commerce, Contentieux commercial , Recouvrement des créances, Propriété industrielle, Droit bancaire et financier, Droit boursier.
             </div>
        </div>

        <div class="flex justify-start flex-col  gap-4">
            <h1 class="text-2xl font-semibold   mt-8 mb-6 text-[#023859]">Droit civil</h1>
            <span class="inline-block w-96 h-0.5 rounded-full bg-[#EDD6A7]"></span>
             <div class=" test w-full  font-roboto text-xl leading-10  text-[#023859] ">
              Relations contractuelles, Protection des données personnelles et de la vie privée, Propriété intellectuelle, Droit de la consommation, Sûretés mobilières, Baux à usage d’habitation ou professionnel, Droit des transports, Droit foncier, NTIC.
             </div>
        </div>

      


    </div>
  </section>
   
    <section class="flex flex-col justify-center items-center  w-full gap-20 bg-[#E5E9EF] mt-2 px-60 py-2 ">
        <h1 class=" text-5xl font-light text-center  mt-8 mb-6 text-[#023859]">Nos Services</h1>

            <div class="flex w-full  justify-center bg-white items-center "> 

             <div class="   shadow-lg w-1/2 " >
                    <img src="https://img.freepik.com/free-photo/high-angle-hands-signing-documents_23-2149445767.jpg?w=1380&t=st=1700487251~exp=1700487851~hmac=fbe2a8dda43569eb863e99bb289c204e7c1dbf4ec1b47d9922db7f4d5b7485da"/>

             </div>
               <div class=" w-1/2 flex justify-center items-center flex-col   ">
                    <div  class=" test w-full text-center font-roboto text-xl leading-10  text-[#023859] ">
                         Représentation auprès des juridictions du Royaume
                    </div>
                    <a href="#" class="inline-block text-[#023859] font-bold py-2 px-4 rounded   border-2 border-[#dec899] transform hover:scale-110 hover:border-[#dec899] transition-transform duration-3000 ease-in-out mt-10 ">
                    Prendre un render vous
                    </a>
                </div>
                  
               
            </div>
            <div class="flex w-full  justify-center bg-white items-center "> 

                <div class="   shadow-lg w-1/2 " >
                    <img src="https://img.freepik.com/free-photo/judges-gavel-book-wooden-table-law-justice-concept-background_1150-9095.jpg?w=1380&t=st=1700487426~exp=1700488026~hmac=3ec060516672d29779c7490b7318d95ff067df7cf5f5552e80b5eb990d8579e6"/>

                </div>
               <div class=" w-1/2 flex justify-center items-center flex-col   ">
                    <div class=" test w-full text-center font-roboto text-xl leading-10  text-[#023859] ">
                         Conseils juridiques et judiciaires
                    </div>
                       <a href="#" class="inline-block text-[#023859] font-bold py-2 px-4 rounded   border-2 border-[#dec899] transform hover:scale-110 hover:border-[#dec899] transition-transform duration-3000 ease-in-out mt-10 ">
                    Prendre un render vous
                    </a>
                </div>
                  
               
            </div>
             <div class="flex w-full  justify-center bg-white  items-center mb-10 "> 

                <div class="   shadow-lg w-1/2 " >
                    <img src="https://img.freepik.com/free-photo/gavel-with-books-old-wooden-desk_93675-129362.jpg?w=1380&t=st=1700487815~exp=1700488415~hmac=80c9da63bd94c5656ea4c7eb34bae48aed30d721aac866785fbe3a1a779894bd"/>

                </div>
               <div class=" w-1/2 flex justify-center items-center flex-col    ">
                    <div class=" test w-full text-center font-roboto text-xl leading-10  text-[#023859] ">
                         Conventions d'assistance judiciaire et conseil juridique
                    </div>
                      <a href="#" class="inline-block text-[#023859] font-bold py-2 px-4 rounded   border-2 border-[#dec899] transform hover:scale-110 hover:border-[#dec899] transition-transform duration-3000 ease-in-out mt-10 ">
                    Prendre un render vous
                    </a>
                </div>
                  
               
            </div>
    </section>


</div>





<div class="flex items-end  bg-white">

    <footer class="w-full text-gray-700 bg-gray-100 body-font">
        <div
            class="container flex flex-col flex-wrap px-5 py-24 mx-auto md:items-center lg:items-start md:flex-row md:flex-no-wrap">
            <div class="flex-shrink-0 w-64 mx-auto text-center md:mx-0 md:text-left">
                        <svg class="w-20" xmlns="http://www.w3.org/2000/svg" height="3em" viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ecd5a6}</style><path d="M522.1 62.4c16.8-5.6 25.8-23.7 20.2-40.5S518.6-3.9 501.9 1.6l-113 37.7C375 15.8 349.3 0 320 0c-44.2 0-80 35.8-80 80c0 3 .2 5.9 .5 8.8L117.9 129.6c-16.8 5.6-25.8 23.7-20.2 40.5s23.7 25.8 40.5 20.2l135.5-45.2c4.5 3.2 9.3 5.9 14.4 8.2V480c0 17.7 14.3 32 32 32H512c17.7 0 32-14.3 32-32s-14.3-32-32-32H352V153.3c21-9.2 37.2-27 44.2-49l125.9-42zM439.6 288L512 163.8 584.4 288H439.6zM512 384c62.9 0 115.2-34 126-78.9c2.6-11-1-22.3-6.7-32.1L536.1 109.8c-5-8.6-14.2-13.8-24.1-13.8s-19.1 5.3-24.1 13.8L392.7 273.1c-5.7 9.8-9.3 21.1-6.7 32.1C396.8 350 449.1 384 512 384zM129.2 291.8L201.6 416H56.7l72.4-124.2zM3.2 433.1C14 478 66.3 512 129.2 512s115.2-34 126-78.9c2.6-11-1-22.3-6.7-32.1L153.2 237.8c-5-8.6-14.2-13.8-24.1-13.8s-19.1 5.3-24.1 13.8L9.9 401.1c-5.7 9.8-9.3 21.1-6.7 32.1z"/></svg>
               
                <p class="mt-2 text-sm text-gray-500">Mohammed chekkouri</p>
                <div class="mt-4">
                    <span class="inline-flex justify-center mt-2 sm:ml-auto sm:mt-0 sm:justify-start">
                        <a class="text-gray-500 cursor-pointer hover:text-gray-700">
                            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                class="w-5 h-5" viewBox="0 0 24 24">
                                <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                            </svg>
                        </a>
                        <a class="ml-3 text-gray-500 cursor-pointer hover:text-gray-700">
                            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                class="w-5 h-5" viewBox="0 0 24 24">
                                <path
                                    d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                                </path>
                            </svg>
                        </a>
                        <a class="ml-3 text-gray-500 cursor-pointer hover:text-gray-700">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                                <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                            </svg>
                        </a>
                        <a class="ml-3 text-gray-500 cursor-pointer hover:text-gray-700">
                            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                                <path stroke="none"
                                    d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                                </path>
                                <circle cx="4" cy="4" r="2" stroke="none"></circle>
                            </svg>
                        </a>
                    </span>
                </div>
            </div>
            <div class="flex  mt-10 -mb-10 text-center md:pl-20 md:mt-0 md:text-left">
                <div class="w-full px-4 lg:w-1/4 md:w-1/2">
                    <h2 class="mb-3 text-sm font-medium tracking-widest text-gray-900 uppercase title-font">About</h2>
                    <nav class="mb-10 list-none">
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">Company</a>
                        </li>
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">Careers</a>
                        </li>
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">Blog</a>
                        </li>
                    </nav>
                </div>
                <div class="w-full px-4 lg:w-1/4 md:w-1/2">
                    <h2 class="mb-3 text-sm font-medium tracking-widest text-gray-900 uppercase title-font">Support</h2>
                    <nav class="mb-10 list-none">
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">Contact Support</a>
                        </li>
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">Help Resources</a>
                        </li>
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">Release Updates</a>
                        </li>
                    </nav>
                </div>
                <div class="w-full px-4 lg:w-1/4 md:w-1/2">
                    <h2 class="mb-3 text-sm font-medium tracking-widest text-gray-900 uppercase title-font">Platform
                    </h2>
                    <nav class="mb-10 list-none">
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">Terms &amp; Privacy</a>
                        </li>
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">Pricing</a>
                        </li>
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">FAQ</a>
                        </li>
                    </nav>
                </div>
                <div class="w-full px-4 lg:w-1/4 md:w-1/2">
                    <h2 class="mb-3 text-sm font-medium tracking-widest text-gray-900 uppercase title-font">Contact</h2>
                    <nav class="mb-10 list-none">
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">Send a Message</a>
                        </li>
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">Request a Quote</a>
                        </li>
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">+123-456-7890</a>
                        </li>
                    </nav>
                </div>
            </div>
        </div>
        <div class="bg-gray-300">
            <div class="container px-5 py-4 mx-auto">
                <p class="text-sm text-gray-700 capitalize xl:text-center">© 2023 All rights reserved </p>
            </div>
        </div>
    </footer>

</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
   
</script>
</body>
</html>