<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
   <style>
  .custom-list {
    list-style-type: none;
    padding: 0;
  }

  .custom-list li::before {
    content: "\25A0"; /* Code pour un carré noir */
    color: #EDD6A7; /* Couleur du carré */
    display: inline-block;
    width: 1em; /* Ajustez la taille selon vos besoins */
    margin-left: -1em; /* Ajustez l'espacement selon vos besoins */
  }
    .slider-container {
     
    display: flex;
     justify-content: center;
     align-items:center;

       
      position: relative;
    }

    .slide {
      display: none;
      text-align: center;
  
    }

    .active-slide {
      display: block;
    }

    .slider-buttons {
      
   

    }

 

    .slider-dots {
      position: absolute;
      top: 150px;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .slider-dot {
      cursor: pointer;
      height: 10px;
      width: 10px;
      margin: 10px 10px 10px 5px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
    }

    .active-dot {
      background-color: #Edd6A7;
      margin-top : 10px;
    }

  @media (max-width: 320px) {
    body{
      width: 320px;
      background-color:red

    }
    section {
      width:1300px;
      padding-right:10px;
      padding-left:10px
    }

    .blackOverlay {
      background-color: rgba(0, 0, 0, 0.8);
       right: 0;
       position:absolute;
       z-index: 2; /* Valeur de z-index plus élevée */
    }

    h1 {
      font-size: 1.5rem;
    }

    p {
      font-size: 0.8rem;
    }

    .test {
      padding: 20px;
    }

    .container {
      text-align: center;
    }
    .section2{
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
      width:1300px;
      background-color : black;

    }
    #section3{
      display: grid;
       grid-template-columns: repeat(1, minmax(0, 1fr));
       background-color:black;
       gap:10px;
    }
    #section4 {
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
    }
    #section5{
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
      gap:10px;
    }
    #ligne{
      margin-top : 40px;
      width:450px;
      height:3px;
      background-color:white;
    }
    #section6{

      width:1300px;
    }
    #test{
     width:900px; 
    }
  }
</style>
    <title>Styled Form</title>
</head>
<body>

    
<div class="relative shadow bg-white">
    <div></div>

    <div class="w-full  p-3 bg-[#023859] ">
        <div class="relative z-1 h-16 mx-auto px-5 max-w-7xl flex items-center justify-between text-white  text-xl  ">
            <a class="text-2xl hover:text-cyan-400 transition-colors" href="" >
                      
                        <svg class="w-20" xmlns="http://www.w3.org/2000/svg" height="3em" viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ecd5a6}</style><path d="M522.1 62.4c16.8-5.6 25.8-23.7 20.2-40.5S518.6-3.9 501.9 1.6l-113 37.7C375 15.8 349.3 0 320 0c-44.2 0-80 35.8-80 80c0 3 .2 5.9 .5 8.8L117.9 129.6c-16.8 5.6-25.8 23.7-20.2 40.5s23.7 25.8 40.5 20.2l135.5-45.2c4.5 3.2 9.3 5.9 14.4 8.2V480c0 17.7 14.3 32 32 32H512c17.7 0 32-14.3 32-32s-14.3-32-32-32H352V153.3c21-9.2 37.2-27 44.2-49l125.9-42zM439.6 288L512 163.8 584.4 288H439.6zM512 384c62.9 0 115.2-34 126-78.9c2.6-11-1-22.3-6.7-32.1L536.1 109.8c-5-8.6-14.2-13.8-24.1-13.8s-19.1 5.3-24.1 13.8L392.7 273.1c-5.7 9.8-9.3 21.1-6.7 32.1C396.8 350 449.1 384 512 384zM129.2 291.8L201.6 416H56.7l72.4-124.2zM3.2 433.1C14 478 66.3 512 129.2 512s115.2-34 126-78.9c2.6-11-1-22.3-6.7-32.1L153.2 237.8c-5-8.6-14.2-13.8-24.1-13.8s-19.1 5.3-24.1 13.8L9.9 401.1c-5.7 9.8-9.3 21.1-6.7 32.1z"/></svg>

                        

            </a>

            <ul class="flex items-center  justify-center gap-5">
                <li><a class="hover:text-cyan-400 transition-colors" href="">Le Cabinet</a></li>
                <li><a class="hover:text-cyan-400 transition-colors" href="">Expertises & Services</a></li>
                <li><a class="hover:text-cyan-400 transition-colors" href="">Bibliothèque</a></li>
                <li><a class="hover:text-cyan-400 transition-colors" href="">Notes Juridiques</a></li>
                <li><a class="hover:text-cyan-400 transition-colors" href="">Contact</a></li>
            </ul>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">


<section class="relative bg-blueGray-50">
  <div class="test relative flex justify-center min-h-screen-75 sm:w-full">
    <div class="absolute top-0 w-full h-full bg-center bg-cover shadow-lg" style="
            background-image: url('https://img.freepik.com/free-photo/closeup-shot-person-writing-book-with-gavel-table_181624-57173.jpg?w=1380&t=st=1700217345~exp=1700217945~hmac=f7a7753db838e94ac5da089a89bc549e501bc2aaa90df940b06e55d57a989e34');
          ">
      <span id="blackOverlay" class="w-full h-full absolute opacity-60 bg-black shadow-lg "></span>
    </div>
    <div class="container relative m-10 mt-60 mr-96">
      <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 ">
          <div class="pr-12">
            <h1 class="text-white font-semibold text-5xl">
              Mohammed Chekkouri
            </h1>
            <p class="mt-4 text-lg text-blueGray-200">
              Maîtr Mohammed Chekkouri, Avocate conseil de l’Ambassade de France au Maroc et du Consulat général de France à Rabat, est la référence en matière d'expertise juridique à Rabat.
            </p>
            <a href="#" class="inline-block text-[#023859] font-bold py-2 px-4 rounded bg-gradient-to-r from-[#EDD6A7] to-[#dec899] border border-transparent transform hover:scale-110 hover:border-white transition-transform duration-3000 ease-in-out mt-10 ">
              Prendre un rendez-vous
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
      

<section class=" section2 flex justify-center items-center gap-20 pb-3 ">
            <div id="test" class="w-1/2">
                        <img class="object-cover" src="https://img.freepik.com/free-photo/wooden-gavel_93675-130695.jpg?w=1380&t=st=1700217716~exp=1700218316~hmac=6c2e1e1f700a400612e3b8b6a8e62802c878063ee10413a369794eaba3c814e2" alt="">

            </div>
              <div class="w-1/2">
              <div class="w-full space-y-12 lg:w-1/2 ">
                        <div>
                            <h1 class="text-3xl font-semibold text-[#023859] capitalize lg:text-4xl dark:text-white">Expertise d'Avocat à Rabat :</h1>
                        
                            <div class="mt-2">
                                <span class="inline-block w-40 h-1 rounded-full bg-[#EDD6A7]"></span>
                                <span class="inline-block w-3 h-1 ml-1 rounded-full bg-[#EDD6A7]"></span>
                                <span class="inline-block w-1 h-1 ml-1 rounded-full bg-[#EDD6A7]"></span>
                            </div>
                        </div>

                        <div class="md:flex md:items-start md:-mx-4">
                           

                            <div class="mt-4 md:mx-4 md:mt-0">
                                <h1 class="text-2xl font-semibold text-[#023859] capitalize dark:text-white">Domaines de compétence</h1>
                                    
                                <p class="mt-3 text-gray-500 dark:text-gray-300">
                                   Forte de ses dix années d'expérience, Mr.Mohammed chekkouri a forgé une réputation inégalée à Rabat. Sa pratique juridique couvre un éventail impressionnant de domaines
                                    démontrant une expertise et une polyvalence rares dans la profession. Plongeons plus profondément dans ses domaines de spécialisation.
                                </p>
                                <a href="#" class="inline-block text-[#023859] font-bold py-2 px-4 rounded bg-gradient-to-r from-[#EDD6A7] to-[#dec899] border border-transparent transform hover:scale-110 hover:border-white transition-transform duration-3000 ease-in-out mt-10 ">
                                     Prendre un render vous 
                                </a>
                            </div>
                        </div>

                       

                        
                    </div>
            </div>
        </section>




        


<section class=" flex items-center justify-center">

  <div class="  grid grid-cols-3   gap-3  w-10/12 items-center justify-center" id="section3">
      <div class="relative flex w-96 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
    <div class="p-6 flex flex-col justify-center items-center  text-center gap-3 ">
      <svg xmlns="http://www.w3.org/2000/svg" height="3em" viewBox="0 0 512 512"><style>svg{fill:#edd6a7}</style><path d="M318.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-120 120c-12.5 12.5-12.5 32.8 0 45.3l16 16c12.5 12.5 32.8 12.5 45.3 0l4-4L325.4 293.4l-4 4c-12.5 12.5-12.5 32.8 0 45.3l16 16c12.5 12.5 32.8 12.5 45.3 0l120-120c12.5-12.5 12.5-32.8 0-45.3l-16-16c-12.5-12.5-32.8-12.5-45.3 0l-4 4L330.6 74.6l4-4c12.5-12.5 12.5-32.8 0-45.3l-16-16zm-152 288c-12.5-12.5-32.8-12.5-45.3 0l-112 112c-12.5 12.5-12.5 32.8 0 45.3l48 48c12.5 12.5 32.8 12.5 45.3 0l112-112c12.5-12.5 12.5-32.8 0-45.3l-1.4-1.4L272 285.3 226.7 240 168 298.7l-1.4-1.4z"/></svg>
        <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-[#023859] antialiased ">
            Spécialités juridiques de l'Avocat Rabat
        </h5>
        <p class="block font-sans text-base font-light leading-relaxed text-inherit antialiased">
            Au fil des années, Mr Mohammed a accumulé une expertise précieuse dans divers domaines tels que le droit commercial, le contentieux pénal des affaires, le droit des sociétés, le droit des contrats, le droit social, et le droit civil.Elle est particulièrement réputée pour son approche exhaustive,
         </p>
    </div>
 
      </div>

      <div class="relative flex w-96 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
        <div class="p-6 flex flex-col justify-center items-center  text-center gap-3 ">
            <svg xmlns="http://www.w3.org/2000/svg" height="3em" viewBox="0 0 640 512"><style>svg{fill:#edd6a7}</style><path d="M323.4 85.2l-96.8 78.4c-16.1 13-19.2 36.4-7 53.1c12.9 17.8 38 21.3 55.3 7.8l99.3-77.2c7-5.4 17-4.2 22.5 2.8s4.2 17-2.8 22.5l-20.9 16.2L512 316.8V128h-.7l-3.9-2.5L434.8 79c-15.3-9.8-33.2-15-51.4-15c-21.8 0-43 7.5-60 21.2zm22.8 124.4l-51.7 40.2C263 274.4 217.3 268 193.7 235.6c-22.2-30.5-16.6-73.1 12.7-96.8l83.2-67.3c-11.6-4.9-24.1-7.4-36.8-7.4C234 64 215.7 69.6 200 80l-72 48V352h28.2l91.4 83.4c19.6 17.9 49.9 16.5 67.8-3.1c5.5-6.1 9.2-13.2 11.1-20.6l17 15.6c19.5 17.9 49.9 16.6 67.8-2.9c4.5-4.9 7.8-10.6 9.9-16.5c19.4 13 45.8 10.3 62.1-7.5c17.9-19.5 16.6-49.9-2.9-67.8l-134.2-123zM16 128c-8.8 0-16 7.2-16 16V352c0 17.7 14.3 32 32 32H64c17.7 0 32-14.3 32-32V128H16zM48 320a16 16 0 1 1 0 32 16 16 0 1 1 0-32zM544 128V352c0 17.7 14.3 32 32 32h32c17.7 0 32-14.3 32-32V144c0-8.8-7.2-16-16-16H544zm32 208a16 16 0 1 1 32 0 16 16 0 1 1 -32 0z"/></svg>   
              <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-[#023859] antialiased ">
                  Services d'Avocat sur mesure à Rabat
              </h5>
              <p class="block font-sans text-base font-light leading-relaxed text-inherit antialiased">
                   Chaque client est unique et mérite une attention sur mesure. Mr Mohammed chekkouri est dédiée à fournir des solutions juridiques personnalisées, prenant en compte les besoins spécifiques de chaque individu ou entreprise, assurant ainsi que leurs intérêts sont toujours prioritaires et bien défendus.
              </p>
        </div>
 
      </div>


      <div class="relative flex w-96 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
        <div class="p-6 flex flex-col justify-center items-center  text-center gap-3 ">
        <svg xmlns="http://www.w3.org/2000/svg" height="3em" viewBox="0 0 640 512"><style>svg{fill:#edd6a7}</style><path d="M384 32H512c17.7 0 32 14.3 32 32s-14.3 32-32 32H398.4c-5.2 25.8-22.9 47.1-46.4 57.3V448H512c17.7 0 32 14.3 32 32s-14.3 32-32 32H320 128c-17.7 0-32-14.3-32-32s14.3-32 32-32H288V153.3c-23.5-10.3-41.2-31.6-46.4-57.3H128c-17.7 0-32-14.3-32-32s14.3-32 32-32H256c14.6-19.4 37.8-32 64-32s49.4 12.6 64 32zm55.6 288H584.4L512 195.8 439.6 320zM512 416c-62.9 0-115.2-34-126-78.9c-2.6-11 1-22.3 6.7-32.1l95.2-163.2c5-8.6 14.2-13.8 24.1-13.8s19.1 5.3 24.1 13.8l95.2 163.2c5.7 9.8 9.3 21.1 6.7 32.1C627.2 382 574.9 416 512 416zM126.8 195.8L54.4 320H199.3L126.8 195.8zM.9 337.1c-2.6-11 1-22.3 6.7-32.1l95.2-163.2c5-8.6 14.2-13.8 24.1-13.8s19.1 5.3 24.1 13.8l95.2 163.2c5.7 9.8 9.3 21.1 6.7 32.1C242 382 189.7 416 126.8 416S11.7 382 .9 337.1z"/></svg>
        <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-[#023859] antialiased ">
        Représentation et plaidoirie à Rabat
        </h5>
        <p class="block font-sans text-base font-light leading-relaxed text-inherit antialiased">
        Mr. mohammed chekkouri n'est pas seulement connue pour sa vaste connaissance juridique, mais aussi pour son talent incontesté en salle d'audience. Elle a représenté de nombreux clients, tant en demande qu'en défense, affirmant leur position avec conviction et précision, que ce soient des résidents marocains ou des étrangers au Maroc.
        </p>
      </div>
 
  </div>
  </div>
      </div>
</section>

<section class="flex justify-center items-center gap-20 pt-10 " id="section4">
           
              <div class="w-1/2 pl-12 ">
              <div class="w-full space-y-12 lg:w-1/2 ">
                        <div>
                            <h1 class="text-3xl font-semibold text-[#023859] capitalize lg:text-4xl dark:text-white">L'approche d'Avocat Rabat :</h1>
                        
                            <div class="mt-2">
                                <span class="inline-block w-40 h-1 rounded-full bg-[#EDD6A7]"></span>
                                <span class="inline-block w-3 h-1 ml-1 rounded-full bg-[#EDD6A7]"></span>
                                <span class="inline-block w-1 h-1 ml-1 rounded-full bg-[#EDD6A7]"></span>
                            </div>
                        </div>

                        <div class="md:flex md:items-start md:-mx-4">
                           

                            <div class="mt-4 md:mx-4 md:mt-0">
                                <h1 class="text-2xl font-semibold text-[#023859] capitalize dark:text-white">Maître Laila Touhami</h1>
                                    
                                <p class="mt-3 text-gray-500 dark:text-gray-300">
                                 Dans le paysage juridique de Rabat, l'approche de Mr. Mohammed chekkouri se distingue par sa combinaison unique de rigueur professionnelle et d'empathie pour ses clients.

                                Au cœur de sa pratique juridique se trouve un engagement inébranlable envers l'excellence et une détermination à mettre les besoins du client au premier plan.
                                Examinons de plus près les piliers de son approche.
                                </p>
                                <a href="#" class="inline-block text-[#023859]  font-bold py-2 px-4 rounded bg-gradient-to-r from-[#EDD6A7] to-[#dec899] border border-transparent transform hover:scale-110 hover:border-white transition-transform duration-3000 ease-in-out mt-10 ">
                                     Prendre un render vous 
                                </a>
                            </div>
                        </div>

                       

                        
                    </div>
            </div>
             <div class="w-1/2">
                        <img class="object-cover" src="https://img.freepik.com/free-photo/truth-concept-arrangement-with-balance_23-2149051291.jpg?w=1380&t=st=1700217509~exp=1700218109~hmac=2ef71e790ebbf86e05529722b7712cb391ab7727f6205adc17c2d53583c5b32a" alt="">

            </div>
</section>



<section class="flex  justify-center items-center bg-[#edd6a7] p-4 " id="section5">

<div class = "flex flex-col justify-center items-center gap-4 p-6">
            <svg xmlns="http://www.w3.org/2000/svg" height="3em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#000000}</style><path d="M312 201.8c0-17.4 9.2-33.2 19.9-47C344.5 138.5 352 118.1 352 96c0-53-43-96-96-96s-96 43-96 96c0 22.1 7.5 42.5 20.1 58.8c10.7 13.8 19.9 29.6 19.9 47c0 29.9-24.3 54.2-54.2 54.2H112C50.1 256 0 306.1 0 368c0 20.9 13.4 38.7 32 45.3V464c0 26.5 21.5 48 48 48H432c26.5 0 48-21.5 48-48V413.3c18.6-6.6 32-24.4 32-45.3c0-61.9-50.1-112-112-112H366.2c-29.9 0-54.2-24.3-54.2-54.2zM416 416v32H96V416H416z"/></svg>
            <h1 class="text-xl font-semibold text-gray-800 capitalize lg:text-xl dark:text-white">Avocat à Rabat :</h1>
            <h1 class="text-2xl font-semibold text-gray-700 capitalize dark:text-white">Engagement pour l'excellence</h1>
            <span class="inline-block w-60 h-1 rounded-full bg-black"></span>
              <div class="text-center">
                    La relation entre un avocat et son client est fondamentale. Pour Me. Laila, cela signifie placer les intérêts de ses clients avant tout. Elle s'engage à comprendre en profondeur leurs besoins et préoccupations, offrant ainsi des solutions sur mesure. Que ce soit pour un résident marocain ou un étranger vivant à Rabat, chaque client bénéficie d'une attention et d'un dévouement sans faille
              </div>

</div>

<span class="inline-block w-2 h-64 rounded-full bg-black" id="ligne"></span>

<div class = "flex flex-col justify-center items-center gap-4 p-6">
        <svg xmlns="http://www.w3.org/2000/svg" height="3em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#cdaf70}</style><path d="M211 7.3C205 1 196-1.4 187.6 .8s-14.9 8.9-17.1 17.3L154.7 80.6l-62-17.5c-8.4-2.4-17.4 0-23.5 6.1s-8.5 15.1-6.1 23.5l17.5 62L18.1 170.6c-8.4 2.1-15 8.7-17.3 17.1S1 205 7.3 211l46.2 45L7.3 301C1 307-1.4 316 .8 324.4s8.9 14.9 17.3 17.1l62.5 15.8-17.5 62c-2.4 8.4 0 17.4 6.1 23.5s15.1 8.5 23.5 6.1l62-17.5 15.8 62.5c2.1 8.4 8.7 15 17.1 17.3s17.3-.2 23.4-6.4l45-46.2 45 46.2c6.1 6.2 15 8.7 23.4 6.4s14.9-8.9 17.1-17.3l15.8-62.5 62 17.5c8.4 2.4 17.4 0 23.5-6.1s8.5-15.1 6.1-23.5l-17.5-62 62.5-15.8c8.4-2.1 15-8.7 17.3-17.1s-.2-17.3-6.4-23.4l-46.2-45 46.2-45c6.2-6.1 8.7-15 6.4-23.4s-8.9-14.9-17.3-17.1l-62.5-15.8 17.5-62c2.4-8.4 0-17.4-6.1-23.5s-15.1-8.5-23.5-6.1l-62 17.5L341.4 18.1c-2.1-8.4-8.7-15-17.1-17.3S307 1 301 7.3L256 53.5 211 7.3z"/></svg>
        <h1 class="text-xl font-semibold text-gray-800 capitalize lg:text-xl dark:text-white">Avocat à Rabat :</h1>
        <h1 class="text-2xl font-semibold text-gray-700 capitalize dark:text-white">Expérience et fiabilité</h1>
        <span class="inline-block w-60 h-1 rounded-full bg-black"></span>
        <div  class="text-center">
        La relation entre un avocat et son client est fondamentale. Pour Me. Laila, cela signifie placer les intérêts de ses clients avant tout. Elle s'engage à comprendre en profondeur leurs besoins et préoccupations, offrant ainsi des solutions sur mesure. Que ce soit pour un résident marocain ou un étranger vivant à Rabat, chaque client bénéficie d'une attention et d'un dévouement sans faille

        </div>
</div>

</section>

<section class=" relative  bg-blueGray-50   " id="section6" >

 <div class="relative  flex  justify-center items-center  min-h-screen-75">
        <div class="absolute top-0 w-full h-full bg-center bg-cover shadow-lg " style="
            background-image: url('https://www.lapaixavocat.fr/public/img/big/AdobeStock177631799jpg_5ebd55a4b6573.jpg');
          ">
          <span id="blackOverlay" class="w-full h-full absolute opacity-40 bg-black shadow-lg "></span>
        </div>
        <div class="container relative  text-center">
        <h1 class="text-2xl font-semibold capitalize lg:text-xl text-white">Pourquoi choisir Maître Mohammed chekkouri comme votre Avocat à Rabat?</h1>
        <div class="mt-4 text-lg text-blueGray-200">
La relation entre un avocat et son client est fondamentale. Pour Me. Laila, cela signifie placer les intérêts de ses clients avant tout. Elle s'engage à comprendre en profondeur leurs besoins et préoccupations, offrant ainsi des solutions sur mesure. Que ce soit pour un résident marocain ou un étranger vivant à Rabat, chaque client bénéficie d'une attention et d'un dévouement sans faille

        </div>
        </div>
        
      </div>
      

 </div>
</section>
<section class="flex  justify-center items-center bg-[#edd6a7] p-4" id="section5">

<div class = "flex flex-col justify-center items-center gap-4 p-6">
<svg xmlns="http://www.w3.org/2000/svg" height="3em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#cdaf70}</style><path d="M64 64c0-17.7-14.3-32-32-32S0 46.3 0 64V400c0 44.2 35.8 80 80 80H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H80c-8.8 0-16-7.2-16-16V64zm406.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L320 210.7l-57.4-57.4c-12.5-12.5-32.8-12.5-45.3 0l-112 112c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L240 221.3l57.4 57.4c12.5 12.5 32.8 12.5 45.3 0l128-128z"/></svg>
<h1 class="text-xl font-semibold text-gray-800 capitalize lg:text-xl dark:text-white">Avocat à Rabat :</h1>
<h1 class="text-2xl font-semibold text-gray-700 capitalize dark:text-white">Taux de réussite de l'Avocat à Rabat</h1>
 <span class="inline-block w-60 h-1 rounded-full bg-black" ></span>
<div class="text-center">

Le succès ne se mesure pas uniquement en années d'expérience, mais aussi en résultats. Maître Laila se distingue par son taux de réussite impressionnant, traduisant son dévouement et sa compétence dans chaque affaire. Que ce soit en matière de droit commercial, civil ou dans d'autres domaines, elle s'est avérée être une force redoutable au tribunal.
</div>

</div>

<span class="inline-block w-2 h-64 rounded-full bg-black" id="ligne"></span>

<div class = "flex flex-col justify-center items-center gap-4 p-6">
<svg xmlns="http://www.w3.org/2000/svg" height="3em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#cdaf70}</style><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
<h1 class="text-xl font-semibold text-gray-800 capitalize lg:text-xl dark:text-white">Avocat à Rabat :</h1>
<h1 class="text-2xl font-semibold text-gray-700 capitalize dark:text-white">Priorité au client</h1>
 <span class="inline-block w-60 h-1 rounded-full bg-black"></span>
<div  class="text-center">
Le succès ne se mesure pas uniquement en années d'expérience, mais aussi en résultats. Maître Laila se distingue par son taux de réussite impressionnant, traduisant son dévouement et sa compétence dans chaque affaire. Que ce soit en matière de droit commercial, civil ou dans d'autres domaines, elle s'est avérée être une force redoutable au tribunal.
</div>
et son
</section>


<section class=" flex flex-col items-center justify-center  gap-6 p-10">
<h1 class="text-xl font-semibold text-[#023859] capitalize lg:text-xl dark:text-white"> Domaines de compétences </h1>
 <span class="inline-block w-60 h-1 rounded-full bg-[#edd6A7]"></span>
<div class="text-center">Une large expérience dans de nombreux dossiers de droit commercial, contentieux pénal des affaires, droit des sociétés et des contrats, droit social, droit civil, statut personnel des nationaux et étrangers, tant en demande qu’en défense, aussi bien pour nos clients marocains qu’étrangers vivants au Maroc.</div>
<div class=" round-md  p-6 flex justify-center items-center gap-96">
  <ul class="custom-list ">
    <li class="mb-2 mt-6">Droit des sociétés</li>
    <li class="mb-2 mt-6">Droit commercial</li>
    <li class="mb-2 mt-6">Droit social</li>
  </ul>
  <ul class="custom-list">
    <li class="mb-2 mt-6">Droit pénal des sociétés</li>
    <li class="mb-2 mt-6">Droit civil</li>
    <li class="mb-2 mt-6">Droit familial</li>
  </ul>
</div>
 <a href="#" class="inline-block text-[#023859]  font-bold py-2 px-4 rounded bg-gradient-to-r from-[#EDD6A7] to-[#dec899] border border-transparent transform hover:scale-110 hover:border-white transition-transform duration-3000 ease-in-out  ">
                                     EN SAVOIR PLUS
                                </a>


</section>



<section class="bg-[#edd6a7] flex flex-col justify-center items-center h-96  gap-6   ">
 <h1 class="text-xl font-semibold text-[#023859]  capitalize lg:text-xl dark:text-white"> Avis clients </h1>
 <span class="inline-block w-60 h-1 rounded-full bg-white"></span>

<div class="slider-container ">
    <button class="m-5" onclick="prevSlide()">
    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>
    </button>
 <div class="bg-white h-11/12 w-3/4 text-center p-16   rounded">
  
  <div class="slide active-slide">
    <p class="text-sm text-center"> Ayant eu recours au service de Maître Mohammed Chekkouri en tant qu’avocate sur quelques dossiers de notre entreprise; «rédaction de contrats de partenariat avec des entreprises à l’international», «contrats de travail» et en tant que conseillère sur des dossiers de levée de fond , je peux témoigner de sa remarquable compétence. J'ai en effet bénéficié de conseils pertinents, efficients et d’une réactivité remarquable . Je la recommande vivement!" </p>
  </div>





  <div class="slide">
    <p class="text-sm text-center">"Je vous adresse tous mes remerciements et ma gratitude pour l'excellent travail accompli durant toutes ces années ainsi qu'à vos collaboratrices."</p>
  </div>
  <div class="slide">
    <p class="text-sm text-center">"A titre privé, pour un dossier civil relevant du droit MAROCAIN, je suis cliente du cabinet du Me. Mohammed Chekkouri depuis 2015. J’apprécie leur grande disponibilité et leur réactivité. La dimension humaine de Maitre Touhami et de ses collaborateurs ne cède en rien à la dimension juridique."</p>
  </div>
</div>
  <div class="slider-buttons">
    
    <button class=" m-5" onclick="nextSlide()">
    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#cdaf70}</style><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>
    </button>
  </div>

  <div class="slider-dots ">
    <span class="slider-dot  " onclick="currentSlide(0)"></span>
    <span class="slider-dot active-dot" onclick="currentSlide(1)"></span>
    <span class="slider-dot " onclick="currentSlide(2)"></span>
  </div>

</div>
      </section>
      
<section  class="flex items-center justify-center" >
<div class=" grid grid-cols-3 sm:grid-cols-2 lg:grid-cols-3 gap-40 px-10 py-4">
<div class="relative flex w-96 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
  <div class="p-6 flex flex-col justify-center items-center  text-center gap-3 ">
        <img src="https://t3.ftcdn.net/jpg/06/12/73/18/240_F_612731856_ovMPZaIrCn4XQOGZSzdtiU52i3RmkxaV.jpg" alt="idk - Highvyn, Taylor Shin" class="w-64 h-64 mx-auto rounded-lg mb-4 shadow-lg shadow-teal-50">

    <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-[#023859] antialiased ">
    Spécialités juridiques de l'Avocat Rabat
    </h5>
    <p class="block font-sans text-base font-light leading-relaxed text-inherit antialiased">
   Quels sont les véritables enjeux de la réforme de la Moudawana au Maroc? Egalement connue sous le nom du Code de la Famille au Maroc
    </p>
  </div>
 
</div>

<div class="relative flex w-96 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
  <div class="p-6 flex flex-col justify-center items-center  text-center gap-3 ">
        <img src="https://img.freepik.com/free-photo/lawyer-filling-document_23-2147984143.jpg?w=826&t=st=1700217969~exp=1700218569~hmac=e203f7f842293acf33681a62a6c34cfea35e645c355df49e04eaa039a2f76350" alt="idk - Highvyn, Taylor Shin" class="w-64 h-64 mx-auto rounded-lg mb-4 shadow-lg shadow-teal-50">

    <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-[#023859] antialiased ">
    Guide Complet par Maître Mohammed chekkouri
    </h5>
    <p class="block font-sans text-base font-light leading-relaxed text-inherit antialiased">
   En tant qu'avocat d'affaires aguerri à Rabat, je suis souvent sollicitée pour apporter mon expertise et mon accompagnement aux entreprises
    </p>
  </div>
 
</div>


<div class="relative flex w-96 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
  <div class="p-6 flex flex-col justify-center items-center  text-center gap-3 ">
        <img src="https://img.freepik.com/free-photo/still-life-with-scales-justice_23-2149776015.jpg?w=1380&t=st=1700218060~exp=1700218660~hmac=7f44ded65484ef3bb1fa41a9f91a817af9102e8163059312bd8cb5869a9340c6" alt="idk - Highvyn, Taylor Shin" class="w-64 h-64 mx-auto rounded-lg mb-4 shadow-lg shadow-teal-50">

    <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-[#023859] antialiased ">
   Comprendre le Droit Civil à Rabat
    </h5>
    <p class="block font-sans text-base font-light leading-relaxed text-inherit antialiased">
   En tant qu'avocate expérimentée exerçant à Rabat, j'ai traversé les méandres fascinants du droit civil marocain pendant des années.
    </p>
  </div>
 
</div>
</div>

</section>


<div class="flex items-end  bg-white">

    <footer class="w-full text-gray-700 bg-gray-100 body-font">
        <div
            class="container flex flex-col flex-wrap px-5 py-24 mx-auto md:items-center lg:items-start md:flex-row md:flex-no-wrap">
            <div class="flex-shrink-0 w-64 mx-auto text-center md:mx-0 md:text-left">
                        <svg class="w-20" xmlns="http://www.w3.org/2000/svg" height="3em" viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ecd5a6}</style><path d="M522.1 62.4c16.8-5.6 25.8-23.7 20.2-40.5S518.6-3.9 501.9 1.6l-113 37.7C375 15.8 349.3 0 320 0c-44.2 0-80 35.8-80 80c0 3 .2 5.9 .5 8.8L117.9 129.6c-16.8 5.6-25.8 23.7-20.2 40.5s23.7 25.8 40.5 20.2l135.5-45.2c4.5 3.2 9.3 5.9 14.4 8.2V480c0 17.7 14.3 32 32 32H512c17.7 0 32-14.3 32-32s-14.3-32-32-32H352V153.3c21-9.2 37.2-27 44.2-49l125.9-42zM439.6 288L512 163.8 584.4 288H439.6zM512 384c62.9 0 115.2-34 126-78.9c2.6-11-1-22.3-6.7-32.1L536.1 109.8c-5-8.6-14.2-13.8-24.1-13.8s-19.1 5.3-24.1 13.8L392.7 273.1c-5.7 9.8-9.3 21.1-6.7 32.1C396.8 350 449.1 384 512 384zM129.2 291.8L201.6 416H56.7l72.4-124.2zM3.2 433.1C14 478 66.3 512 129.2 512s115.2-34 126-78.9c2.6-11-1-22.3-6.7-32.1L153.2 237.8c-5-8.6-14.2-13.8-24.1-13.8s-19.1 5.3-24.1 13.8L9.9 401.1c-5.7 9.8-9.3 21.1-6.7 32.1z"/></svg>
               
                <p class="mt-2 text-sm text-gray-500">Mohammed chekkouri</p>
                <div class="mt-4">
                    <span class="inline-flex justify-center mt-2 sm:ml-auto sm:mt-0 sm:justify-start">
                        <a class="text-gray-500 cursor-pointer hover:text-gray-700">
                            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                class="w-5 h-5" viewBox="0 0 24 24">
                                <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                            </svg>
                        </a>
                        <a class="ml-3 text-gray-500 cursor-pointer hover:text-gray-700">
                            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                class="w-5 h-5" viewBox="0 0 24 24">
                                <path
                                    d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                                </path>
                            </svg>
                        </a>
                        <a class="ml-3 text-gray-500 cursor-pointer hover:text-gray-700">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                                <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                            </svg>
                        </a>
                        <a class="ml-3 text-gray-500 cursor-pointer hover:text-gray-700">
                            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                                <path stroke="none"
                                    d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                                </path>
                                <circle cx="4" cy="4" r="2" stroke="none"></circle>
                            </svg>
                        </a>
                    </span>
                </div>
            </div>
            <div class="flex  mt-10 -mb-10 text-center md:pl-20 md:mt-0 md:text-left">
                <div class="w-full px-4 lg:w-1/4 md:w-1/2">
                    <h2 class="mb-3 text-sm font-medium tracking-widest text-gray-900 uppercase title-font">About</h2>
                    <nav class="mb-10 list-none">
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">Company</a>
                        </li>
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">Careers</a>
                        </li>
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">Blog</a>
                        </li>
                    </nav>
                </div>
                <div class="w-full px-4 lg:w-1/4 md:w-1/2">
                    <h2 class="mb-3 text-sm font-medium tracking-widest text-gray-900 uppercase title-font">Support</h2>
                    <nav class="mb-10 list-none">
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">Contact Support</a>
                        </li>
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">Help Resources</a>
                        </li>
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">Release Updates</a>
                        </li>
                    </nav>
                </div>
                <div class="w-full px-4 lg:w-1/4 md:w-1/2">
                    <h2 class="mb-3 text-sm font-medium tracking-widest text-gray-900 uppercase title-font">Platform
                    </h2>
                    <nav class="mb-10 list-none">
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">Terms &amp; Privacy</a>
                        </li>
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">Pricing</a>
                        </li>
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">FAQ</a>
                        </li>
                    </nav>
                </div>
                <div class="w-full px-4 lg:w-1/4 md:w-1/2">
                    <h2 class="mb-3 text-sm font-medium tracking-widest text-gray-900 uppercase title-font">Contact</h2>
                    <nav class="mb-10 list-none">
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">Send a Message</a>
                        </li>
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">Request a Quote</a>
                        </li>
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">+123-456-7890</a>
                        </li>
                    </nav>
                </div>
            </div>
        </div>
        <div class="bg-gray-300">
            <div class="container px-5 py-4 mx-auto">
                <p class="text-sm text-gray-700 capitalize xl:text-center">© 2023 All rights reserved </p>
            </div>
        </div>
    </footer>

</div>
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  let currentSlideIndex = 0;

  $(document).ready(function () {
    showSlide(currentSlideIndex);
  });

  function showSlide(index) {
    $('.slide').removeClass('active-slide');
    $('.slide').eq(index).addClass('active-slide');

    $('.slider-dot').removeClass('active-dot');
    $('.slider-dot').eq(index).addClass('active-dot');
  }

  function nextSlide() {
    currentSlideIndex = (currentSlideIndex + 1) % $('.slide').length;
    showSlide(currentSlideIndex);
  }

  function prevSlide() {
    currentSlideIndex = (currentSlideIndex - 1 + $('.slide').length) % $('.slide').length;
    showSlide(currentSlideIndex);
  }

  function currentSlide(index) {
    currentSlideIndex = index;
    showSlide(currentSlideIndex);
  }
</script>

<script>
   
</script>
</body>
</html>
